// Body
$body-bg: #f8fafc;

$primary: #5fc782;
$secondary: #2c323d;
$alt: rgba(76, 80, 108, 1);
$light: rgba(247, 247, 247, 1);
$dark: rgba(35, 40, 49, 1);

$primary-dark: darken($primary, 20%);
$primary-darker: darken($primary, 40%);

$primary-light: lighten($primary, 10%);
$primary-lighter: lighten($primary, 20%);

$light-dark: darken($light, 5%);
$light-darker: darken($light, 40%);

$light-light: lighten($light, 5%);
$light-lighter: lighten($light, 40%);

$alt-dark: darken($alt, 20%);
$alt-darker: darken($alt, 40%);

$alt-light: lighten($alt, 5%);
$alt-lighter: lighten($alt, 40%);
